body
{
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:saddlebrown;
    margin: 2vh;
    text-align: center;
}

#content-area
{
    background-color: white;

}

header
{
    font-size: larger;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    background-color: white;
    padding: 0.05%;
}

fieldset img 
{
    max-width: 200px;
}

label
{
    display: flex;
    flex-direction: column;
}
fieldset
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vh;
}

#ballet h1
{
    color: magenta;

}

#basic h1
{
    color: navy; 
}

#artsy h1
{
    color: darkgreen; 
}

#grunge h1
{
    color: darkred;
}

#street h1
{
    color: slategray
}

#ballet, #basic, #artsy, #grunge, #street
{
    text-align: center; 
    font-size: larger;
    color: black; 
    
}
#ballet img, #basic img, #artsy img, #grunge img, #street img, #ballet-items img, #basic-items img, #grunge-items img, #artsy-items img, #street-items img, #big-closet img
{
    height: 500px;
    
}

#next-butt
{
    color:white;
    font-size: larger;
    background-color: midnightblue;
    padding: 1vh; 
    text-decoration:none;
}
nav
{
    background-color: antiquewhite;
}
nav ul
{
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-evenly;
    width: 100%;
}
nav li
{
    color: transparent;
    padding: 1em;
}
nav a
{
    text-decoration: none;
    color: brown;
    padding: 1em;
}

nav li:hover{
    background-color: darksalmon;
}

#closet-titles
{
    margin: 5%;
}

#closet
{
    padding: 2%;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.5em;
}